@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}
